* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .8);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, 1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .8);
    border-radius: 8px;
    letter-spacing: 2px;
}

.relogio span {
    font-weight: bold;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 12px;
}

/* h1{
    color: rgba(5, 5, 5, .9);
    font-size: 45px;
} */